[Unit]
Description=User Service
[Service]
ExecStart=java -jar /home/ubuntu/users/users.jar 
Environment=SERVER_PORT=8080
SyslogIdentifier=users
[Install]
WantedBy=multi-user.target
